{% extends "layout.html" %}
    
{% block body %} 
    <div class="row">
        <div class="col">
            <form action="/user/{{user_id}}/upload_image" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control-file" name="title" id="title">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" id="category">
                      <option>None</option>
                      <option>Illustration</option>
                      <option>Photo</option>
                      <option>Vector</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                </div>
                <div class="form-group"> 
                    <div class="custom-file">
                        <input type="file" class="custom-file-label" name="images" id="images" multiple="true" autocomplete="off" required>  
                        <label class="custom-file-label" for="images"> Select Image(s)...</label>  
                    </div>                                   
                </div> 
                <button class="btn btn-primary btn-sm"> Upload </button>
            </form>
              </form>
        </div>
    </div>
{% endblock %}