{% extends "layout.html" %}
    
{% block body %} 
   
    <div class="row hold">
        {% for image in images %}
                <div class="col-sm-3 image-display">
                    <img class="img-responsive" src="static/images/uploads/{{image.filename}}" alt="">
                    <div class="form-group row">
                        {% if 'logged_in' in session %}
                            <div class="col-sm-6">
                                <form action="{{url_for('deleteImage', user_id=user_id, image_id=image.id )}}" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        {% endif %}
                        <div class="col-sm-6">
                            <a href="{{url_for('view_image', image_id=image.id)}}" class="btn btn-success btn-sm">View</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
