{% extends "layout.html" %}
    
{% block body %} 
    <div class="row hold">
        {% for items in search %}
            <div class="col-sm-3 image-display">
                <img src="../static/images/uploads/{{items.filename}}" alt="">
                {% if 'logged_in' in session %}
                    <div class="form-group del">
                        <form action="{{url_for('deleteImage', user_id=items.user_id, image_id=items.id )}}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}